// *----------------------------------------
// サイト全体で使う色を変数として定義
// 優先度1:接頭辞-セマンティックな命名
// $cPrimary: #***;
// $cSecondary: #***;
// $cBlack: #***;
// ----------------------------------------*

$cPrimary: #011950;
$cSecondary: #001e63;
$cBlack: #000;
$cWhite: #fff;
$cGray: #626262;
$cSectionBg: #f8f8f8;
$cLightGray: #e2e2e2;
$cTagBg: #F3F3F3;
$cSilverGray: #A9A9A9;
