// *----------------------------------------
// サイト全体で使う色を変数として定義
// 優先度1:接頭辞-セマンティックな命名
// $cPrimary: #***;
// $cSecondary: #***;
// $cBlack: #***;
// ----------------------------------------*

$cPrimary: #011950;
$cSecondary: #001e63;
$cBlack: #000;
$cWhite: #fff;
$cGray: #626262;
$cSectionBg: #f8f8f8;
$cLightGray: #e2e2e2;
$cTagBg: #f3f3f3;
$cSilverGray: #a9a9a9;
$cHamburgerLine: #242424;
$cHamburgerShowLine: #F9F2E5;
$cSectionGrayBg: #F8F8F8;
