
// *----------------------------------------
// サイト全体で使う色を変数として定義
// 優先度1:接頭辞-セマンティックな命名
// $cPrimary: #***;
// $cSecondary: #***;
// $cBlack: #***;
// ----------------------------------------*

$cPrimary: #011950;
$cSecondary: #001e63;
$cBlack: #000;
$cWhite: #fff;
$cGray: #626262;
