
// *----------------------------------------
// 変数
// ----------------------------------------*

// * 文字フォントの種類
// ----------------------------------------*
// $baseFont: 'Noto Sans JP', sans-serif;
// $secondFont: 'Oswald', 'Roboto', 'Noto Sans JP', sans-serif;
// $thirdFont: 'Roboto', 'Noto Sans JP', sans-serif;


// * 文字の太さ
// ----------------------------------------*
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
