
// *----------------------------------------
// 変数
// ----------------------------------------*

// * 文字フォントの種類
// ----------------------------------------*
$BaseFont: sans-serif;
// $SecondFont: sans-serif;
// $ThirdFont: sans-serif;


// * 文字の太さ
// ----------------------------------------*
$Light: 300;
$Regular: 400;
$Medium: 500;
$Bold: 700;
