@use '../base/init' as *;

// *----------------------------------------
// About
// ----------------------------------------*/

// * pageHeading
// ----------------------------------------*

.pageHeadingAbout {
  background-image: url('../images/about/title_bg.jpg');

  @include max(md) {
    background-image: url('../images/about/title_bg_sp.jpg');
  }
}

// *----------------------------------------
//
// ----------------------------------------*/

// .PageAbout {
// }

.PageAbout__Inner {
  // padding-top: 98px;
}

.PageAbout__Container {
  width: min(100%, 880px);
  padding-inline: 0;
  padding-top: 0;

  // padding-bottom: 120px;
  margin-top: 100px;

  @include max(md) {
    // padding-bottom: 80px;
    margin-top: 60px;
  }
}

// * philosophy
// ----------------------------------------*
.philosophy .container {
  @include max(md) {
    margin-inline: -20px;
  }
}

.philosophy__media {
  display: flex;
  align-items: center;
  background-color: $cSectionGrayBg;

  @include max(md) {
    flex-direction: column;
    row-gap: 30px;
  }
}

.philosophy__body {
  padding: 62px 30px 69px;

  @include max(md) {
    padding: 60px 20px 0;
    margin-bottom: -84px;
  }
}

.philosophy__text {
  margin-top: 60px;

  @include max(md) {
    margin-top: 30px;
  }
}

.philosophy__name {
  padding-right: 11px;
  margin-top: 39px;
  line-height: lh(16, 23);
  text-align: right;

  @include max(md) {
    padding-right: 0;
    margin-top: 30px;
  }

  span {
    &:first-child {
      margin-right: 1em;
    }
  }
}

.philosophy__imgWrap {
  flex-shrink: 0;
  width: 360px;

  @include max(md) {
    position: relative;
    top: 84px;
    width: 100%;
    padding-inline: 20px;
  }
}

// * access
// ----------------------------------------*

.access__inner {
  @include max(md) {
    padding-top: 80px;
  }
}

.access__body {
  display: inline-flex;
  margin-top: 8px;
  font-style: normal;

  @include max(md) {
    flex-direction: column;
    margin-top: 20px;
  }
}

.access__post {
  margin-right: 1em;

  @include max(md) {
    margin-top: 4px;
  }
}

.access__map {
  margin-top: 60px;

  @include max(md) {
    margin-top: 20px;
  }

  iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 1100 / 400;

    @include max(md) {
      aspect-ratio: 335 / 400;
    }
  }
}

// * company
// ----------------------------------------*

.company {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  background-color: $cSectionBg;
}

.company__inner {
  padding-top: 70px;

  @include max(md) {
    padding-top: 60px;
  }
}

.companyOverview {
  margin-top: 60px;

  @include max(md) {
    margin-top: 30px;
  }
}

.companyOverview__item {
  display: flex;
  padding-bottom: 40px;
  border-bottom: 1px solid $cLightGray;

  @include max(md) {
    flex-direction: column;
    row-gap: 16px;
    padding-bottom: 20px;
  }

  &:not(:first-child) {
    padding-top: 40px;

    @include max(md) {
      padding-top: 20px;
    }
  }
}

.companyOverview__item--address {
  & span:first-of-type {
    margin-right: 18px;

    @include max(md) {
      margin-right: 28px;
    }
  }
}

.companyOverview__content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  @include max(md) {
    row-gap: 10px;
  }

  span:first-of-type {
    margin-right: 1em;
  }
}

.companyOverview__heading {
  width: 130px;
  font-weight: $medium;
}

.companyOverview__text {
  padding-left: 40px;

  @include max(md) {
    padding-left: 0;
  }
}

.company__slide {
  width: 100%;
  height: auto;
  padding-bottom: 120px;
  overflow: hidden;

  @include max(md) {
    padding-bottom: 80px;
  }
}

.company__slideList {
  column-gap: 10px;

  @include max(md) {
    column-gap: 0;
  }
}

.company__slideItem {
  width: 480px;
  height: auto;
  aspect-ratio: 480 / 400;

  @include max(md) {
    width: 185px;
    aspect-ratio: 185 / 150;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
