@use '../base/init' as *;

// *----------------------------------------
// contact
// ----------------------------------------*/

// * pageHeadingContact
// ----------------------------------------*

.pageHeadingContact {
  background-image: url('../images/contact/title_bg.jpg');

  @include max(md) {
    background-image: url('../images/works/title_bg_sp.jpg');
  }
}

// * Contact Form 7
// ----------------------------------------*

.contact {
}

.contact__inner {
  width: min(100%, 660px);
  padding-inline: 20px;
  margin-inline: auto;
}

.contact__text {
  line-height: lh(16, 38);

  @include max(md) {
    line-height: lh(14, 32);
  }
}

.formWrap {
  padding-bottom: 120px;
  margin-top: 100px;

  @include max(md) {
    padding-bottom: 80px;
    margin-top: 40px;
  }
}

.form__field {
  &:not(:first-child) {
    margin-top: 40px;

    @include max(md) {
      margin-top: 30px;
    }
  }
  &:last-child {
    margin-top: 40px;
  }
}

.form__label,
.form__acceptanceText {
  font-size: 15px;
  font-weight: $medium;
  line-height: lh(15, 22);
}

.form__labelText {
  margin-left: 1em;
  font-weight: $regular;

  @include max(md) {
    display: block;
    margin-top: 10px;
    margin-left: 0;
    font-size: 14px;
    line-height: lh(14, 20);
  }
}

.form__required {
  color: #e20000;
}

.form__data {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  border: 1px solid $cLightGray;
  border-radius: 4px;
}

.form__input {
}

.form__input::placeholder {
  color: $cSilverGray;
}

.form__field--message .form__data {
  height: 160px;
}

.form__textarea {
}

.form__acceptance {
}

.form__acceptanceText {
}

.form__btn {
  margin-top: 40px;
}

.form__submitBtn {
  width: 100%;
  max-width: 446px;
  padding-block: 20px;
  margin-inline: auto;
  font-size: 18px;
  line-height: lh(18, 26);
  color: $cWhite;
  text-align: center;
  background-color: $cPrimary;
  border-radius: 4px;

  @include max(md) {
    max-width: 260px;
    padding-block: 12px;
    font-size: 14px;
    line-height: lh(14, 20);
  }
}

.form__input,
.form__select,
.form__textArea,
.form__acceptanceText {
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: lh(14, 20);
}
