@use '../base/init' as *;

// *----------------------------------------
// Single
// ----------------------------------------*/
.pageContainer .single {
  display: grid;
  grid-template-columns: 1fr 321px;
  column-gap: 97px;
  width: min(1260px, 100%);
  padding-inline: 30px;
  margin-inline: auto;

  @include max(md) {
    grid-template-columns: 1fr;
    padding-bottom: 80px;
  }
}

.postWrap {
  padding-inline: 21px 42.26px;
  padding-bottom: 119px;
  overflow-x: hidden;

  @include max(md) {
    padding-inline: 0;
    padding-bottom: 57px;
  }
}

.post {
  width: 100%;
  border-bottom: 1px solid $cGrayBorder;

  @include max(md) {
    border-bottom: none;
  }
}

.post__header {
  @include max(md) {
    padding-right: 21px;
  }
}

.post__meta {
  display: inline-flex;
  gap: 20px;

  @include max(md) {
    gap: 6px;
  }
}

.post__title {
  margin-top: 20px;
  font-size: 26px;
  font-weight: $medium;
  line-height: lh(26, 50);

  @include max(md) {
    margin-top: 10px;
    font-size: 18px;
    line-height: lh(18, 30);
  }
}

.post__time {
  margin-top: 20px;
  font-size: 11px;
  line-height: lh(11, 16);

  @include max(md) {
    margin-top: 10px;
    font-size: 10px;
    line-height: lh(10, 14);
  }
}

.post__content {
  margin-top: 40px;
}

.post__thumb {
  width: 100%;
  aspect-ratio: 718 / 380;
  object-fit: cover;

  @include max(md) {
    aspect-ratio: 315 / 176;
  }
}

.post__body {
  padding-top: 40px;

  h2 {
    padding-block: 8px;
    padding-inline: 10.57px;
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: $medium;
    line-height: lh(22, 32);
    background-color: rgba($color: $cSingleHeadingBg, $alpha: 80%);
    border-left: 3px solid $cSecondary;

    @include max(md) {
      padding: 8px 11px 9px;
      font-size: 16px;
      line-height: lh(16, 23);
    }
  }

  h3 {
    position: relative;
    padding-bottom: 8px;
    padding-left: 13.74px;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: $medium;
    line-height: lh(18, 26);
    border-bottom: 1px solid $cGrayBorder;

    @include max(md) {
      padding-left: 13px;
    }

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 285.276px;
      height: 1px;
      content: '';
      background-color: $cSecondary;

      @include max(md) {
        width: 125px;
      }
    }
  }

  p {
    margin-bottom: 72px;
    font-size: 16px;
    line-height: lh(16, 32);

    @include max(md) {
      margin-bottom: 40px;
      font-size: 14px;
      line-height: lh(14, 32);
    }
  }

  ul {
    padding-left: 14.4px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: lh(16, 23);
    color: #242424;

    @include max(md) {
      padding-left: 14px;
      margin-bottom: 48px;
      font-size: 14px;
      line-height: lh(14, 20);
    }

    li {
      position: relative;

      &:not(:last-child) {
        margin-bottom: 1px;

        @include max(md) {
          margin-bottom: 0;
        }
      }

      &::before {
        position: absolute;
        top: 6px;
        left: -14.4px;
        width: 6px;
        aspect-ratio: 1 / 1;
        content: '';
        background-color: $cSecondary;
        border-radius: 50%;

        @include max(md) {
          top: 50%;
          left: -14px;
          transform: translateY(-50%);
        }
      }
    }
  }

  img {
    aspect-ratio: 718.474 / 380;
    margin-bottom: 40px;

    @include max(md) {
      aspect-ratio: 315 / 176;
    }
  }
}

// * single__button
// ----------------------------------------*

.single__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10.74px;
  margin-top: 40px;

  @include max(md) {
    padding-right: 0;
  }
}

.single__prev,
.single__next {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 129px;
  padding-block: 11px;
  font-size: 14px;
  font-weight: $medium;
  line-height: lh(14, 20);
  color: $cSecondary;
  border: 1px solid $cSecondary;
  border-radius: 4px;
}

.single__next {
  margin-left: auto;
}

// * sidebar
// ----------------------------------------*

.sidebar {
  @include max(md) {
    margin-inline: -15px;
  }
}

.post__sidebar {
  padding-right: 21px;
  padding-bottom: 80px;

  @include max(md) {
    padding-right: 0;
    padding-bottom: 0;
  }
}

.sidebar__section {
  &:not(:first-of-type) {
    margin-top: 40px;
  }
}

.sidebar__heading {
  padding: 15px 18px;
  font-size: 14px;
  font-weight: $medium;
  color: $cWhite;
  background-color: #001135;
}

.sidebar__list li,
.sidebar__item {
  padding: 18px;
  font-size: 14px;
  font-weight: $regular;
  line-height: lh(14, 20);
  color: $cBlack;

  &:not(:last-child) {
    border-bottom: 1px solid $cGrayBorder;
  }
}

// * 最新記事
// ----------------------------------------*

.newPost .sidebar__item {
  display: flex;
  column-gap: 18px;
  border-bottom: 1px solid $cGrayBorder;
}

.sidebar__imgWrap {
  flex-shrink: 0;
  width: 100px;
  aspect-ratio: 1 / 1;
}

.sidebar__img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.sidebar__body {
  display: flex;
  flex-direction: column;
}

.sidebar__title {
  font-size: 12px;
  font-weight: $regular;
  line-height: lh(12, 24);
  color: #040404;
}

.newPost .sidebar__date {
  margin-top: auto;
  font-size: 10px;
  line-height: lh(10, 14);
}

// * カテゴリー
// ----------------------------------------*

.postCategories {
}

// * singleWorks
// ----------------------------------------*

.singleWorks {
  width: min(900px, 100%);
  padding-inline: 30px;
  margin-inline: auto;
}

.singleWorks .post {
  border-bottom: none;
}

.singleWorks .post__header {
  @include max(md) {
    padding-right: 21px;
  }
}

.singleWorks .post__title {
  margin-top: 24px;
  font-size: 26px;
  font-weight: $medium;
  line-height: lh(26, 38);

  @include max(md) {
    margin-top: 10px;
    font-size: 18px;
    line-height: lh(18, 30);
  }
}

.singleWorks .post__thumb {
  width: 100%;
  aspect-ratio: 840 / 471;
  object-fit: cover;

  @include max(md) {
    aspect-ratio: 315 / 176;
  }
}
