@use '../base/init' as *;

// *----------------------------------------
// works
// ----------------------------------------*/


// * pageHeadingWorks
// ----------------------------------------*

.pageHeadingWorks {
  background-image: url('../images/works/title_bg.jpg');

  @include max(md) {
    background-image: url('../images/works/title_bg_sp.jpg');
  }
}

// * pageWorks
// ----------------------------------------*

.pageWorks__inner {
  @include max(md) {
    padding-top: 0;
  }
}
