@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  line-height: calc(0.25rem + 1em + 0.25rem);
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:where(:not(fieldset, progress, meter)) {
  background-repeat: no-repeat;
  background-origin: border-box;
  border-style: solid;
  border-width: 0;
}

html {
  block-size: 100%;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

@media (prefers-reduced-motion: no-preference) {
  html:focus-within {
    scroll-behavior: smooth;
  }
}
body {
  text-rendering: optimizespeed;
  min-block-size: 100%;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
}

:where(img, svg, video) {
  max-inline-size: 100%;
  block-size: auto;
}

:where(svg) {
  fill: currentcolor;
  stroke: none;
}

:where(svg):where(:not([fill])) {
  fill: none;
  stroke: currentcolor;
  stroke-linecap: round;
  stroke-linejoin: round;
}

:where(svg):where(:not([width])) {
  inline-size: 5rem;
}

:where(input, button, textarea, select),
:where(input[type=file])::-webkit-file-upload-button {
  font: inherit;
  font-size: inherit;
  color: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}

:where(textarea) {
  resize: vertical;
}

@supports (resize: block) {
  :where(textarea) {
    resize: block;
  }
}
:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

h1 {
  font-size: 2em;
}

:where(ul, ol) {
  list-style-position: inside;
}

:where(ul, ol)[role=list] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

:where(a[href], area, button, input, label[for], select, summary, textarea, [tabindex]:not([tabindex*="-"])) {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
}

:where(input[type=file]) {
  cursor: auto;
}

:where(input[type=file])::-webkit-file-upload-button {
  cursor: pointer;
}

:where(input[type=file])::-webkit-file-upload-button,
:where(input[type=file])::file-selector-button {
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  :focus-visible {
    -webkit-transition: outline-offset 145ms cubic-bezier(0.25, 0, 0.4, 1);
    transition: outline-offset 145ms cubic-bezier(0.25, 0, 0.4, 1);
  }
  :where(:not(:active)):focus-visible {
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }
}
:where(:not(:active)):focus-visible {
  outline-offset: 5px;
}

:where(input[type=file])::-webkit-file-upload-button {
  text-align: center;
  -webkit-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

:where(button, button[type], input[type=button], input[type=submit], input[type=reset]),
:where(input[type=file])::-webkit-file-upload-button,
:where(input[type=file])::file-selector-button {
  text-align: center;
  -webkit-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

:where(button, button[type], input[type=button], input[type=submit], input[type=reset])[disabled] {
  cursor: not-allowed;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.6;
  color: #000;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

button {
  cursor: pointer;
  background-color: transparent;
}

a[href^="tel:"] {
  pointer-events: none;
}
@media (width < 769px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

@media (hover: hover) {
  img:is(:where(:-webkit-any-link, :enabled, summary):hover *) {
    opacity: 0.7;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  img:is(:where(:-moz-any-link, :enabled, summary):hover *) {
    opacity: 0.7;
    -moz-transition: 0.3s;
    transition: 0.3s;
  }
  img:is(:where(:any-link, :enabled, summary):hover *) {
    opacity: 0.7;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

.inner {
  width: min(100%, 1140px);
  padding-block: 120px;
  padding-inline: 20px;
  margin-inline: auto;
}
@media (width < 769px) {
  .inner {
    padding-block: 80px;
  }
}

.pageInner {
  width: min(100%, 1140px);
  padding-inline: 20px;
  padding-bottom: 120px;
  margin-inline: auto;
}
@media (width < 769px) {
  .pageInner {
    padding-top: 30px;
    padding-bottom: 80px;
  }
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 2.375;
}
@media (width < 769px) {
  .text {
    font-size: 14px;
    line-height: 2.2857142857;
  }
}

.time {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.4166666667;
  color: #a9a9a9;
}
@media (width < 769px) {
  .time {
    font-size: 10px;
  }
}

.tag {
  padding: 4px 18px;
  font-size: 11px;
  font-weight: 500;
  line-height: 1.4545454545;
  color: #626262;
  background-color: #f3f3f3;
}
@media (width < 769px) {
  .tag {
    padding: 5px 15px;
    font-size: 10px;
    line-height: 1.4;
  }
}

.pageTitle__main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Oswald", "Roboto", "Noto Sans JP", sans-serif;
  font-size: 40px;
  line-height: 1.475;
  color: #000;
  text-transform: capitalize;
}
@media (width < 769px) {
  .pageTitle__main {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    font-size: 26px;
    line-height: 1.5;
  }
}
.pageTitle__main::after {
  width: 60px;
  height: 2px;
  content: "";
  background-color: #000;
}

.pageTitle__sub {
  font-size: 16px;
  line-height: 1.4375;
  color: #001e63;
}
@media (width < 769px) {
  .pageTitle__sub {
    font-size: 12px;
    line-height: 1.4166666667;
  }
}

.heading {
  font-family: "Oswald", "Roboto", "Noto Sans JP", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}

.heading--primary {
  margin-bottom: 40px;
  font-size: 70px;
  line-height: 1.4857142857;
}
@media (width < 769px) {
  .heading--primary {
    margin-bottom: 20px;
    font-size: 38px;
    line-height: 1.4736842105;
  }
}

.heading--secondary {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.heading--secondary .heading__main {
  font-size: clamp(2.75rem, 0.623rem + 9.08vw, 6.25rem);
  line-height: 1.48;
}
@media (width < 769px) {
  .heading--secondary .heading__main {
    line-height: 1.4772727273;
  }
}
@media (width >= 1920px) {
  .heading--secondary .heading__main {
    font-size: 6.9444vw;
  }
}

.heading--secondary .heading__sub {
  margin-top: -15px;
  font-size: clamp(0.75rem, 0.446rem + 1.3vw, 1.25rem);
  line-height: 1.45;
}
@media (width < 769px) {
  .heading--secondary .heading__sub {
    margin-top: -6px;
    line-height: 1.4166666667;
  }
}
@media (width >= 1920px) {
  .heading--secondary .heading__sub {
    margin-top: -1.0417vw;
    font-size: 1.3889vw;
  }
}

.pageHeading {
  width: calc(100% - 170px);
  aspect-ratio: 1270/514;
  margin-top: 236px;
  margin-left: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (width < 769px) {
  .pageHeading {
    aspect-ratio: 365/280;
  }
}
@media (width < 992px) {
  .pageHeading {
    margin-top: 110px;
  }
}
@media (width < 1200px) {
  .pageHeading {
    width: calc(100% - 10px);
  }
}

.pageHeading__inner {
  width: clamp(11.875rem, 0.099rem + 50.24vw, 31.25rem);
  padding: 16px 50px 47px;
  background-color: #fff;
}
@media (width < 769px) {
  .pageHeading__inner {
    padding: 18px 18px 36px;
  }
}

.logo img {
  width: 258px;
}
@media (width < 992px) {
  .logo img {
    width: 114px;
    height: 80px;
  }
}

.gnav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (width < 992px) {
  .gnav {
    visibility: hidden;
  }
}

.gnav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.spMenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  color: #fff;
  visibility: visible;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.spMenu__inner {
  z-index: 1;
  display: grid;
  width: 100%;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
}

.SpMenu__Logo a {
  display: inline-block;
}

.spMenu__nav {
  padding-inline: 50px;
  margin-top: 80px;
}

.spMenu__item {
  padding-block: 12px;
  border-top: 1px solid #011950;
}
.spMenu__item:last-child {
  border-bottom: 1px solid #011950;
}

.spMenu__link {
  font-size: 14px;
  text-transform: uppercase;
}

.spMenu__sns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  margin-top: 50px;
}

.spMenu.panelactive {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100vh;
}
.spMenu.panelactive ul li {
  opacity: 0;
  -webkit-animation-name: gnavAnime;
          animation-name: gnavAnime;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.circleBg {
  position: fixed;
  right: -50px;
  bottom: -50px;
  z-index: -1;
  width: 100px;
  height: 100px;
  background: #001135;
  border-radius: 50%;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  /* 丸のスタート位置と形状 */
  -webkit-transform: scale(0);
          transform: scale(0); /* scaleをはじめは0に */
}

.circleBg.circleactive {
  -webkit-transform: scale(50);
          transform: scale(50); /* クラスが付与されたらscaleを拡大 */
}

@-webkit-keyframes gnavAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes gnavAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.internalLink {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 120px;
     -moz-column-gap: 120px;
          column-gap: 120px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (width < 769px) {
  .internalLink {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    padding-inline: 20px;
  }
}

.internalLink__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 9px;
     -moz-column-gap: 9px;
          column-gap: 9px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (width < 769px) {
  .internalLink__item {
    -webkit-column-gap: 6px;
       -moz-column-gap: 6px;
            column-gap: 6px;
  }
}
.internalLink__item::after {
  display: inline-block;
  width: 9px;
  height: 5px;
  content: "";
  background-image: url("../images/icon/icon_arrow_down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.internalLink__item a {
  font-size: 16px;
  color: #011950;
}
@media (width < 769px) {
  .internalLink__item a {
    font-size: 12px;
  }
}

.pageContainer {
  padding-top: 60px;
}
@media (width < 769px) {
  .pageContainer {
    padding-top: 30px;
  }
}

.page__message {
  width: min(100%, 880px);
  margin-inline: auto;
}

.page__messageBody {
  margin-top: 100px;
}
@media (width < 769px) {
  .page__messageBody {
    margin-top: 60px;
  }
}

.page__messageTitle {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.5;
}
@media (width < 769px) {
  .page__messageTitle {
    font-size: 18px;
    line-height: 2.0555555556;
  }
}

.page__messageText {
  margin-top: 40px;
}
@media (width < 769px) {
  .page__messageText {
    margin-top: 30px;
  }
}

@media (width < 769px) {
  .philosophy .container {
    margin-inline: -20px;
  }
}

.philosophy__media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F8F8F8;
}
@media (width < 769px) {
  .philosophy__media {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
}

.philosophy__body {
  padding: 62px 30px 69px;
  margin-bottom: -84px;
}
@media (width < 769px) {
  .philosophy__body {
    padding: 60px 20px 0;
  }
}

.philosophy__text {
  margin-top: 60px;
}
@media (width < 769px) {
  .philosophy__text {
    margin-top: 30px;
  }
}

.philosophy__name {
  padding-right: 11px;
  margin-top: 39px;
  line-height: 1.4375;
  text-align: right;
}
@media (width < 769px) {
  .philosophy__name {
    padding-right: 0;
    margin-top: 30px;
  }
}
.philosophy__name span:first-child {
  margin-right: 1em;
}

.philosophy__imgWrap {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 360px;
}
@media (width < 769px) {
  .philosophy__imgWrap {
    position: relative;
    top: 84px;
    width: 100%;
    padding-inline: 20px;
  }
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 80px;
  background-color: #fff;
}
@media (width < 992px) {
  .header {
    background-color: transparent;
  }
}

.header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: inherit;
}

.header__logo {
  position: absolute;
  left: 0;
}

.header__nav {
  font-family: "Roboto", "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  text-transform: uppercase;
}
@media (width < 992px) {
  .header__nav {
    visibility: hidden;
  }
}

.header__nav .gnav__list {
  gap: 50px;
  margin-right: 50px;
}

.header__nav .gnav__btn {
  padding: 30px 41px 31px;
  background-color: #011950;
}

.header__nav .gnav__btnLink {
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  color: #fff;
}

.main {
  overflow-x: hidden;
}

.footer__media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (width < 769px) {
  .footer__media {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__imgWrap {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 56.9444%;
}
@media (width < 769px) {
  .footer__imgWrap {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
}

.footer__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 43.0556%;
  min-width: 300px;
  padding: 70px 30px;
  color: #fff;
  background-color: #011950;
}
@media (width < 769px) {
  .footer__info {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    padding-block: 80px;
  }
}

.footer__infoInner {
  width: 275px;
}
@media (width < 769px) {
  .footer__infoInner {
    width: 227px;
  }
}

.footer__infoText {
  font-size: 18px;
  line-height: 1.6666666667;
}
@media (width < 769px) {
  .footer__infoText {
    font-size: 14px;
    line-height: 2;
  }
}
.footer__infoText:last-of-type {
  margin-top: 22px;
  font-size: 14px;
}
@media (width < 769px) {
  .footer__infoText:last-of-type {
    margin-top: 10px;
    font-size: 12px;
    line-height: 1.4166666667;
  }
}

.footer__infoBtn {
  font-size: 22px;
}
.footer__infoBtn i {
  padding-top: 5px;
}

.footer__infoBtn .btn {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 235px;
  max-width: 100%;
  padding: 18px;
  font-size: 22px;
  line-height: 1.4545454545;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
}
@media (width < 769px) {
  .footer__infoBtn .btn {
    width: 227px;
    font-size: 16px;
    line-height: 1.4375;
  }
}
.footer__infoBtn .btn > span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (width < 769px) {
  .footer__infoBtn .btn > span {
    gap: 10px;
  }
}

.footer__infoMail {
  margin-top: 25px;
}
@media (width < 769px) {
  .footer__infoMail {
    margin-top: 32px;
  }
}

.footer__infoTel {
  margin-top: 20px;
}

.footerFoot {
  color: #fff;
  background-color: #001135;
}

.footerFoot__inner {
  display: grid;
  grid-template-columns: 1fr 160px;
  width: min(100%, 1220px);
  padding: 63px 40px 64px;
  margin-inline: auto;
}
@media (width < 769px) {
  .footerFoot__inner {
    grid-template-columns: 1fr;
    padding-bottom: 30px;
  }
}

@media (width < 769px) {
  .footer__logoArea {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}

.footerFoot__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 46px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (width < 769px) {
  .footerFoot__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer__logo {
  margin-top: 37px;
}

.footer__sns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  font-family: "Roboto", "Noto Sans JP", sans-serif;
}

.copyRight {
  margin-top: 20px;
  font-family: "Roboto", "Noto Sans JP", sans-serif;
}
@media (width < 769px) {
  .copyRight {
    margin-top: 50px;
  }
}
.copyRight small {
  font-size: 12px;
}

@media (width < 769px) {
  .footer__nav {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
}

.footer__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
@media (width < 769px) {
  .footer__list {
    row-gap: 24px;
  }
}

.footer__navLink {
  font-size: 16px;
  line-height: 1.1875;
  text-transform: uppercase;
}
@media (width < 769px) {
  .footer__navLink {
    font-size: 14px;
    line-height: 1.1428571429;
  }
}

.fa-envelope,
.fa-phone {
  display: grid;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  place-items: center;
  font-size: 22px;
}
@media (width < 769px) {
  .fa-envelope,
  .fa-phone {
    font-size: 16px;
  }
}

.fa-facebook,
.fa-twitter,
.fa-instagram {
  display: grid;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  place-items: center;
  font-size: 22px;
}

.btn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.more {
  position: relative;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1428571429;
  color: #001e63;
  text-transform: uppercase;
}
.more::before {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  content: "";
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}
.more:hover::before {
  background: #001e63;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.more::after {
  width: 5px;
  height: 9px;
  content: "";
  background-image: url("../images/icon/icon_more_arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.more:hover::after {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.bgLeft {
  position: relative;
  overflow: hidden;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}
.bgLeft > span {
  position: relative;
  z-index: 3;
  color: #fff;
}
.bgLeft:hover > span {
  color: #011950;
}
@media (width < 769px) {
  .bgLeft:hover > span {
    color: inherit;
  }
}
.bgLeft::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  content: "";
  background: #fff; /* 背景色 */
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transition: -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s, -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: right top;
          transform-origin: right top;
}
.bgLeft:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.hoverLine {
  display: inline-block;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#000), to(#000));
  background-image: -webkit-linear-gradient(left, #000, #000);
  background-image: linear-gradient(90deg, #000, #000); /* 線の色 */
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 0 1px;
  -webkit-transition: background-size 0.6s;
  transition: background-size 0.6s;
}
@media (width < 769px) {
  .hoverLine {
    background: initial;
  }
}
.hoverLine:hover {
  background-size: 100% 1px;
}

[class^=fade] {
  opacity: 0;
}

.fadeIn {
  opacity: 0;
  -webkit-animation-name: fadeInAnime;
          animation-name: fadeInAnime;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeUp {
  opacity: 0;
  -webkit-animation-name: fadeUpAnime;
          animation-name: fadeUpAnime;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeUpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.fadeLeft {
  opacity: 0;
  -webkit-animation-name: fadeLeftAnime;
          animation-name: fadeLeftAnime;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeLeftAnime {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeLeftAnime {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.fadeRight {
  opacity: 0;
  -webkit-animation-name: fadeRightAnime;
          animation-name: fadeRightAnime;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeRightAnime {
  from {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeRightAnime {
  from {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.fadeDown {
  opacity: 0;
  -webkit-animation-name: fadeDownAnime;
          animation-name: fadeDownAnime;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeDownAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeDownAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.animeDelay {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.hamburger {
  --opacity: 1;
  --rotate: 0;
  --translate: -8px;
  position: absolute;
  top: 50%;
  right: 30px;
  z-index: 9000;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  width: 25px;
  aspect-ratio: 25/14;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.hamburger.is-active {
  --opacity: 0;
  --rotate: 135deg;
  --translate: 0;
  width: 28.7px;
  aspect-ratio: 1/1;
}
.hamburger.is-active span {
  background-color: #F9F2E5;
}
.hamburger.is-active span:nth-child(2) {
  width: 100%;
}
@media (width < 992px) {
  .hamburger {
    display: grid;
  }
}
.hamburger span {
  display: block;
  grid-area: 1/1/-1/-1;
  justify-self: flex-start;
  width: 100%;
  height: 1px;
  background-color: #242424;
  -webkit-transition: background-color 0.8s, opacity 0.4s, rotate 0.4s, -webkit-transform 0.4s;
  transition: background-color 0.8s, opacity 0.4s, rotate 0.4s, -webkit-transform 0.4s;
  transition: background-color 0.8s, opacity 0.4s, rotate 0.4s, transform 0.4s;
  transition: background-color 0.8s, opacity 0.4s, rotate 0.4s, transform 0.4s, -webkit-transform 0.4s;
}
.hamburger span:nth-child(1) {
  opacity: var(--opacity);
}
.hamburger span:nth-child(2) {
  width: 15px;
  rotate: var(--rotate);
  translate: 0 calc(var(--translate) * -1);
}
.hamburger span:nth-child(3) {
  rotate: calc(var(--rotate) * -1);
  translate: 0 var(--translate);
}

.breadcrumbWrap {
  width: min(100%, 1340px);
  padding-inline: 10px;
  margin-inline: auto;
  margin-top: 20px;
}
@media (width < 769px) {
  .breadcrumbWrap {
    margin-top: 10px;
  }
}

.breadcrumb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: "Roboto", "Noto Sans JP", sans-serif;
}

.breadcrumb__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  font-weight: 400;
  color: #a9a9a9;
  text-transform: capitalize;
}
@media (width < 769px) {
  .breadcrumb__item {
    font-size: 10px;
  }
}
.breadcrumb__item:last-child {
  color: #626262;
}
.breadcrumb__item:not(:first-child)::before {
  display: inline-block;
  width: 20px;
  height: 1px;
  content: "";
  background-color: #626262;
}

.firstView {
  width: 100%;
  height: 100vh;
  padding-inline: 80px;
}
@media (width < 992px) {
  .firstView {
    padding-inline: 10px;
  }
}

.firstView__inner {
  position: relative;
  width: 100%;
  height: inherit;
}

.firstView__images {
  width: calc(100% - 246px);
}
@media (width < 992px) {
  .firstView__images {
    width: 100%;
  }
}
.firstView__images img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.firstView__title {
  position: absolute;
  top: 180px;
  right: 0;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}
@media (width < 992px) {
  .firstView__title {
    position: static;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    margin-top: 20px;
  }
}

.firstView__text {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.06;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}
@media (width < 992px) {
  .firstView__text {
    padding-inline: 20px;
    font-size: 34px;
    line-height: 1.4411764706;
    -webkit-writing-mode: initial;
        -ms-writing-mode: initial;
            writing-mode: initial;
  }
}

.textAnime p {
  width: 100%;
  margin-top: 60px;
  font-size: 150px;
  font-weight: 700;
  line-height: 1.4466666667;
  color: #011950;
  white-space: nowrap;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-animation-name: textAnime;
          animation-name: textAnime;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media (width < 992px) {
  .textAnime p {
    margin-top: 138px;
    font-size: 84px;
  }
}

@-webkit-keyframes textAnime {
  100% {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
}

@keyframes textAnime {
  100% {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
}
.about .section__inner {
  padding-top: 60px;
  padding-bottom: 0;
}
@media (width < 769px) {
  .about .section__inner {
    padding-top: 20px;
  }
}

.media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (width < 769px) {
  .media {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.media__imgWrap {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 50%;
  margin-right: 5.4545%;
}
@media (width < 769px) {
  .media__imgWrap {
    width: 100%;
    margin-right: 0;
  }
}

.media__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.media__textWrap {
  padding-top: 6.3636%;
  padding-bottom: 9.3636%;
}
@media (width < 769px) {
  .media__textWrap {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 30px;
  }
}

.media__heading {
  font-family: "Oswald", "Roboto", "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
}

.media__textBox {
  margin-top: 3.6364%;
}
@media (width < 769px) {
  .media__textBox {
    margin-top: 30px;
  }
}

.media__text {
  font-size: clamp(0.875rem, 0.446rem + 0.89vw, 1rem);
}

.media__btn {
  margin-top: 3.6364%;
  text-align: right;
}
@media (width < 769px) {
  .media__btn {
    margin-top: 40px;
  }
}

.service .section__inner {
  width: min(100%, 1141px);
}

.service .heading {
  text-align: right;
}
@media (width < 769px) {
  .service .heading {
    text-align: left;
  }
}

.service__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
  gap: 50px 18px;
}

.card__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}

.card__body {
  padding-right: 20px;
  margin-top: 20px;
  text-align: right;
}
@media (width < 769px) {
  .card__body {
    padding-right: 0;
  }
}

.card__text {
  text-align: left;
}

.card__btn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 141px;
  max-width: 100%;
  padding: 13px;
  margin-top: 20px;
  border: 1px solid #011950;
  border-radius: 4px;
}

.works {
  background-color: #f8f8f8;
}

@media (width < 769px) {
  .works .section__inner {
    padding-top: 60px;
  }
}

.works .container {
  padding: 50px 40px;
  background-color: #fff;
}
@media (width < 769px) {
  .works .container {
    padding-block: 30px 80px;
    margin-inline: -20px;
  }
}

.worksMedia__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
  border-bottom: 1px solid #e2e2e2;
}
@media (width < 769px) {
  .worksMedia__item {
    padding-bottom: 30px;
  }
}
.worksMedia__item:not(:first-child) {
  padding-top: 50px;
}
@media (width < 769px) {
  .worksMedia__item:not(:first-child) {
    padding-top: 30px;
  }
}

.worksMedia__imgWrap {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 28.4314%;
  margin-right: 4.5455%;
}
@media (width < 769px) {
  .worksMedia__imgWrap {
    width: 40.678%;
    margin-right: 6.1017%;
  }
}

.worksMedia__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.worksMedia__title {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4583333333;
  color: #000;
}
@media (width < 769px) {
  .worksMedia__title {
    margin-top: 12px;
    font-size: 14px;
    line-height: 2;
  }
}

.worksMedia__text {
  display: -webkit-box;
  min-height: 76px;
  margin-top: 30px;
  overflow: hidden;
  color: #626262;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
@media (width < 769px) {
  .worksMedia__text {
    display: none;
  }
}

.worksMedia .time {
  margin-top: auto;
}
@media (width < 769px) {
  .worksMedia .time {
    margin-top: 12px;
  }
}

.works__btn {
  margin-top: 40px;
  text-align: right;
}
@media (width < 769px) {
  .works__btn {
    padding-right: 20px;
    margin-top: 41px;
  }
}

.news {
  background-color: #f8f8f8;
}

.news .section__inner {
  padding-top: 0;
}

.news .heading {
  margin-bottom: 45px;
}

.archive {
  display: grid;
  grid-template-columns: 264px 1fr;
}
@media (width < 769px) {
  .archive {
    grid-template-columns: 1fr;
  }
}

.archive__categories {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  row-gap: 20px;
  padding-left: 20px;
}
@media (width < 769px) {
  .archive__categories {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 15px 40px;
    padding-left: 34px;
  }
}

.archive__category {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4285714286;
  color: #a9a9a9;
  cursor: pointer;
}
@media (width < 769px) {
  .archive__category {
    font-size: 12px;
  }
}
.archive__category.current {
  position: relative;
  color: #000;
}
.archive__category.current::before {
  position: absolute;
  top: calc(50% - 0px);
  left: -14px;
  width: 8px;
  height: 8px;
  content: "";
  background-color: #001e63;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.archive__main {
  border-left: 1px solid #e2e2e2;
}
@media (width < 769px) {
  .archive__main {
    margin-top: 40px;
    border: none;
  }
}

.archive__list {
  padding-left: 60px;
}
@media (width < 769px) {
  .archive__list {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.archive__item {
  padding-bottom: 30px;
  border-bottom: 1px solid #e2e2e2;
}
@media (width < 769px) {
  .archive__item {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .archive__item:first-child {
    border-top: 1px solid #e2e2e2;
  }
}
.archive__item:not(:first-child) {
  padding-top: 30px;
}
@media (width < 769px) {
  .archive__item:not(:first-child) {
    padding-top: 20px;
  }
}

.archive .time {
  margin-right: 25px;
}
@media (width < 769px) {
  .archive .time {
    margin-right: 8px;
  }
}

.archive__meta {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-column-gap: 29px;
     -moz-column-gap: 29px;
          column-gap: 29px;
}
@media (width < 769px) {
  .archive__meta {
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;
  }
}

.archive__meta .tag {
  background-color: #fff;
}

.archive__title {
  margin-top: 26px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4375;
  color: #000;
}
@media (width < 769px) {
  .archive__title {
    margin-top: 20px;
    font-size: 14px;
    line-height: 2;
  }
}

.archive__btn {
  margin-top: 40px;
  text-align: right;
}
@media (width < 769px) {
  .archive__btn {
    margin-top: 45px;
  }
}

.pageHeadingAbout {
  background-image: url("../images/about/title_bg.jpg");
}
@media (width < 769px) {
  .pageHeadingAbout {
    background-image: url("../images/about/title_bg_sp.jpg");
  }
}

.PageAbout__Container {
  width: min(100%, 880px);
  padding-inline: 0;
  padding-top: 0;
  margin-top: 100px;
}
@media (width < 769px) {
  .PageAbout__Container {
    margin-top: 60px;
  }
}

.u-spOnly {
  display: none;
}
@media (width < 769px) {
  .u-spOnly {
    display: block;
  }
}

.u-pcOnly {
  display: block;
}
@media (width < 769px) {
  .u-pcOnly {
    display: none;
  }
}

.show {
  visibility: hidden;
}