@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  line-height: calc(0.25rem + 1em + 0.25rem);
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:where(:not(fieldset, progress, meter)) {
  background-repeat: no-repeat;
  background-origin: border-box;
  border-style: solid;
  border-width: 0;
}

html {
  block-size: 100%;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

@media (prefers-reduced-motion: no-preference) {
  html:focus-within {
    scroll-behavior: smooth;
  }
}
body {
  text-rendering: optimizespeed;
  min-block-size: 100%;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
}

:where(img, svg, video) {
  max-inline-size: 100%;
  block-size: auto;
}

:where(svg) {
  fill: currentcolor;
  stroke: none;
}

:where(svg):where(:not([fill])) {
  fill: none;
  stroke: currentcolor;
  stroke-linecap: round;
  stroke-linejoin: round;
}

:where(svg):where(:not([width])) {
  inline-size: 5rem;
}

:where(input, button, textarea, select),
:where(input[type=file])::-webkit-file-upload-button {
  font: inherit;
  font-size: inherit;
  color: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}

:where(textarea) {
  resize: vertical;
}

@supports (resize: block) {
  :where(textarea) {
    resize: block;
  }
}
:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

h1 {
  font-size: 2em;
}

:where(ul, ol) {
  list-style-position: inside;
}

:where(ul, ol)[role=list] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

:where(a[href], area, button, input, label[for], select, summary, textarea, [tabindex]:not([tabindex*="-"])) {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
}

:where(input[type=file]) {
  cursor: auto;
}

:where(input[type=file])::-webkit-file-upload-button {
  cursor: pointer;
}

:where(input[type=file])::-webkit-file-upload-button,
:where(input[type=file])::file-selector-button {
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  :focus-visible {
    -webkit-transition: outline-offset 145ms cubic-bezier(0.25, 0, 0.4, 1);
    transition: outline-offset 145ms cubic-bezier(0.25, 0, 0.4, 1);
  }
  :where(:not(:active)):focus-visible {
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }
}
:where(:not(:active)):focus-visible {
  outline-offset: 5px;
}

:where(input[type=file])::-webkit-file-upload-button {
  text-align: center;
  -webkit-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

:where(button, button[type], input[type=button], input[type=submit], input[type=reset]),
:where(input[type=file])::-webkit-file-upload-button,
:where(input[type=file])::file-selector-button {
  text-align: center;
  -webkit-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

:where(button, button[type], input[type=button], input[type=submit], input[type=reset])[disabled] {
  cursor: not-allowed;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.6;
  color: #000;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

button {
  cursor: pointer;
  background-color: transparent;
}

a[href^="tel:"] {
  pointer-events: none;
}
@media (width < 769px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

@media (hover: hover) {
  img:is(:where(:-webkit-any-link, :enabled, summary):hover *) {
    opacity: 0.7;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  img:is(:where(:-moz-any-link, :enabled, summary):hover *) {
    opacity: 0.7;
    -moz-transition: 0.3s;
    transition: 0.3s;
  }
  img:is(:where(:any-link, :enabled, summary):hover *) {
    opacity: 0.7;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

.inner {
  width: min(100%, 1140px);
  padding-block: 120px;
  padding-inline: 20px;
  margin-inline: auto;
}
@media (width < 769px) {
  .inner {
    padding-bottom: 80px;
  }
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 2.375;
}
@media (width < 769px) {
  .text {
    font-size: 14px;
    line-height: 2.2857142857;
  }
}

.time {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.4166666667;
  color: #A9A9A9;
}
@media (width < 769px) {
  .time {
    font-size: 10px;
  }
}

.tag {
  padding: 4px 18px;
  font-size: 11px;
  font-weight: 500;
  line-height: 1.4545454545;
  color: #626262;
  background-color: #F3F3F3;
}
@media (width < 769px) {
  .tag {
    padding: 5px 15px;
    font-size: 10px;
    line-height: 1.4;
  }
}

.hoverLine {
  display: inline-block;
  text-decoration: none; /* デフォルトの下線を非表示にする */
  background-image: -webkit-gradient(linear, left top, right top, from(#000), to(#000));
  background-image: -webkit-linear-gradient(left, #000, #000);
  background-image: linear-gradient(90deg, #000, #000); /* 線の色 */
  background-repeat: no-repeat;
  background-position: left bottom; /* 線の起点を左・下に設定 */
  background-size: 0 1px; /* 線の横幅を0、縦幅を1pxに */
  -webkit-transition: background-size 0.6s;
  transition: background-size 0.6s; /* 線を伸ばすアニメーション実行時間を指定 */
}
@media (width < 769px) {
  .hoverLine {
    background: initial;
  }
}
.hoverLine:hover {
  background-size: 100% 1px; /* 線の横幅を100%にする */
}

.heading {
  font-family: "Oswald", "Roboto", "Noto Sans JP", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}

.heading--primary {
  margin-bottom: 40px;
  font-size: 70px;
  line-height: 1.4857142857;
}
@media (width < 769px) {
  .heading--primary {
    margin-bottom: 20px;
    font-size: 38px;
    line-height: 1.4736842105;
  }
}

.heading--secondary {
  font-size: 100px;
  line-height: 1.48;
}

.gnav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (width < 992px) {
  .gnav {
    visibility: hidden;
  }
}

.gnav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.Header__Item {
  text-transform: uppercase;
}
.Header__Item:last-child {
  margin-right: 50px;
}

.Header__NavLink {
  font-size: 16px;
  font-weight: 500;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 80px;
  background-color: #fff;
}
@media (width < 992px) {
  .header {
    background-color: transparent;
  }
}

.header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: inherit;
}

.header__logo {
  position: absolute;
  left: 0;
}

.header__logo .logo__link img {
  width: 258px;
}
@media (width < 992px) {
  .header__logo .logo__link img {
    width: 114px;
    height: 80px;
  }
}

.header__nav {
  font-family: "Roboto", "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  text-transform: uppercase;
}
@media (width < 992px) {
  .header__nav {
    visibility: hidden;
  }
}

.header__nav .gnav__list {
  gap: 50px;
  margin-right: 50px;
}

.header__nav .gnav__btn {
  padding: 30px 41px 31px;
  background-color: #011950;
}

.header__nav .gnav__btnLink {
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  color: #fff;
}

.SpMenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  color: #fff;
  visibility: visible;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.SpMenu__Inner {
  z-index: 1;
  display: grid;
  width: 100%;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
}

.SpMenu__Logo a {
  display: inline-block;
}

.SpMenu__Nav {
  padding-inline: 50px;
  margin-top: 80px;
}

.SpMenu__Item {
  padding-block: 12px;
  border-top: 1px solid #011950;
}
.SpMenu__Item:last-child {
  border-bottom: 1px solid #011950;
}

.SpMenu__Link {
  font-size: 14px;
  text-transform: uppercase;
}

.SpMenu__Sns {
  margin-top: 50px;
}

.fa-envelope,
.fa-phone {
  display: grid;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  place-items: center;
  font-size: 22px;
}
@media (width < 769px) {
  .fa-envelope,
  .fa-phone {
    font-size: 16px;
  }
}

.btn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.more {
  position: relative;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1428571429;
  color: #001e63;
  text-transform: uppercase;
}
.more::before {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  content: "";
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}
.more:hover::before {
  background: #001e63;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.more::after {
  width: 5px;
  height: 9px;
  content: "";
  background-image: url("../images/icon/icon_more_arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.more:hover::after {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

[class^=fade] {
  opacity: 0;
}

.fadeIn {
  opacity: 0;
  -webkit-animation-name: fadeInAnime;
          animation-name: fadeInAnime;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeUp {
  opacity: 0;
  -webkit-animation-name: fadeUpAnime;
          animation-name: fadeUpAnime;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeUpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.fadeLeft {
  opacity: 0;
  -webkit-animation-name: fadeLeftAnime;
          animation-name: fadeLeftAnime;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeLeftAnime {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeLeftAnime {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.fadeRight {
  opacity: 0;
  -webkit-animation-name: fadeRightAnime;
          animation-name: fadeRightAnime;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeRightAnime {
  from {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeRightAnime {
  from {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.fadeDown {
  opacity: 0;
  -webkit-animation-name: fadeDownAnime;
          animation-name: fadeDownAnime;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeDownAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeDownAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.animeDelay {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.firstView {
  width: 100%;
  height: 100vh;
  padding-inline: 80px;
}
@media (width < 992px) {
  .firstView {
    padding-inline: 10px;
  }
}

.firstView__inner {
  position: relative;
  width: 100%;
  height: inherit;
}

.firstView__images {
  width: calc(100% - 246px);
}
@media (width < 992px) {
  .firstView__images {
    width: 100%;
  }
}
.firstView__images img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.firstView__title {
  position: absolute;
  top: 180px;
  right: 0;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}
@media (width < 992px) {
  .firstView__title {
    position: static;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    margin-top: 20px;
  }
}

.firstView__text {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.06;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}
@media (width < 992px) {
  .firstView__text {
    padding-inline: 20px;
    font-size: 34px;
    line-height: 1.4411764706;
    -webkit-writing-mode: initial;
        -ms-writing-mode: initial;
            writing-mode: initial;
  }
}

.textAnime p {
  width: 100%;
  margin-top: 60px;
  font-size: 150px;
  font-weight: 700;
  line-height: 1.4466666667;
  color: #011950;
  white-space: nowrap;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-animation-name: textAnime;
          animation-name: textAnime;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media (width < 992px) {
  .textAnime p {
    margin-top: 138px;
    font-size: 84px;
  }
}

@-webkit-keyframes textAnime {
  100% {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
}

@keyframes textAnime {
  100% {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
}
.about .section__inner {
  padding-top: 60px;
  padding-bottom: 0;
}
@media (width < 769px) {
  .about .section__inner {
    padding-top: 20px;
  }
}

.media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (width < 769px) {
  .media {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.media__imgWrap {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 50%;
  margin-right: 5.4545%;
}
@media (width < 769px) {
  .media__imgWrap {
    width: 100%;
    margin-right: 0;
  }
}

.media__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.media__textWrap {
  padding-top: 6.3636%;
  padding-bottom: 9.3636%;
}
@media (width < 769px) {
  .media__textWrap {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 30px;
  }
}

.media__heading {
  font-family: "Oswald", "Roboto", "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
}

.media__textBox {
  margin-top: 3.6364%;
}
@media (width < 769px) {
  .media__textBox {
    margin-top: 30px;
  }
}

.media__text {
  font-size: clamp(0.875rem, 0.446rem + 0.89vw, 1rem);
}

.media__btn {
  margin-top: 3.6364%;
  text-align: right;
}
@media (width < 769px) {
  .media__btn {
    margin-top: 40px;
  }
}

.service .section__inner {
  width: min(100%, 1141px);
}

.service .heading {
  text-align: right;
}
@media (width < 769px) {
  .service .heading {
    text-align: left;
  }
}

.service__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
  gap: 50px 18px;
}

.card__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}

.card__body {
  padding-right: 20px;
  margin-top: 20px;
  text-align: right;
}
@media (width < 769px) {
  .card__body {
    padding-right: 0;
  }
}

.card__text {
  text-align: left;
}

.card__btn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 141px;
  max-width: 100%;
  padding: 13px;
  margin-top: 20px;
  border: 1px solid #011950;
  border-radius: 4px;
}

.works {
  background-color: #f8f8f8;
}

.works .container {
  padding: 50px 40px;
  background-color: #fff;
}
@media (width < 769px) {
  .works .container {
    padding-block: 30px 80px;
    margin-inline: -20px;
  }
}

.worksMedia__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
  border-bottom: 1px solid #e2e2e2;
}
@media (width < 769px) {
  .worksMedia__item {
    padding-bottom: 30px;
  }
}
.worksMedia__item:not(:first-child) {
  padding-top: 50px;
}
@media (width < 769px) {
  .worksMedia__item:not(:first-child) {
    padding-top: 30px;
  }
}

.worksMedia__imgWrap {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 28.4314%;
  margin-right: 4.5455%;
}
@media (width < 769px) {
  .worksMedia__imgWrap {
    width: 40.678%;
    margin-right: 6.1017%;
  }
}

.worksMedia__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.worksMedia__title {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4583333333;
  color: #000;
}
@media (width < 769px) {
  .worksMedia__title {
    margin-top: 12px;
    font-size: 14px;
    line-height: 2;
  }
}

.worksMedia__text {
  display: -webkit-box;
  min-height: 76px;
  margin-top: 30px;
  overflow: hidden;
  color: #626262;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
@media (width < 769px) {
  .worksMedia__text {
    display: none;
  }
}

.worksMedia .time {
  margin-top: auto;
}
@media (width < 769px) {
  .worksMedia .time {
    margin-top: 12px;
  }
}

.works__btn {
  margin-top: 40px;
  text-align: right;
}
@media (width < 769px) {
  .works__btn {
    padding-right: 20px;
    margin-top: 41px;
  }
}

.news {
  background-color: #f8f8f8;
}

.news .section__inner {
  padding-top: 0;
}

.news .heading {
  margin-bottom: 45px;
}

.archive {
  display: grid;
  grid-template-columns: 264px 1fr;
}
@media (width < 769px) {
  .archive {
    grid-template-columns: 1fr;
  }
}

.archive__categories {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  row-gap: 20px;
  padding-left: 20px;
}
@media (width < 769px) {
  .archive__categories {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 15px 40px;
    padding-left: 34px;
  }
}

.archive__category {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4285714286;
  color: #A9A9A9;
  cursor: pointer;
}
@media (width < 769px) {
  .archive__category {
    font-size: 12px;
  }
}
.archive__category.current {
  position: relative;
  color: #000;
}
.archive__category.current::before {
  position: absolute;
  top: calc(50% - 0px);
  left: -14px;
  width: 8px;
  height: 8px;
  content: "";
  background-color: #001e63;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.archive__main {
  border-left: 1px solid #e2e2e2;
}
@media (width < 769px) {
  .archive__main {
    margin-top: 40px;
    border: none;
  }
}

.archive__list {
  padding-left: 60px;
}
@media (width < 769px) {
  .archive__list {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.archive__item {
  padding-bottom: 30px;
  border-bottom: 1px solid #e2e2e2;
}
@media (width < 769px) {
  .archive__item {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .archive__item:first-child {
    border-top: 1px solid #e2e2e2;
  }
}
.archive__item:not(:first-child) {
  padding-top: 30px;
}
@media (width < 769px) {
  .archive__item:not(:first-child) {
    padding-top: 0;
  }
}

.archive .time {
  margin-right: 25px;
}
@media (width < 769px) {
  .archive .time {
    margin-right: 8px;
  }
}

.archive__meta {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-column-gap: 29px;
     -moz-column-gap: 29px;
          column-gap: 29px;
}
@media (width < 769px) {
  .archive__meta {
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;
  }
}

.archive__meta .tag {
  background-color: #fff;
}

.archive__title {
  margin-top: 26px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4375;
  color: #000;
}
@media (width < 769px) {
  .archive__title {
    margin-top: 20px;
    font-size: 14px;
    line-height: 2;
  }
}

.archive__btn {
  margin-top: 40px;
  text-align: right;
}
@media (width < 769px) {
  .archive__btn {
    margin-top: 45px;
  }
}

.u-spOnly {
  display: none;
}
@media (width < 769px) {
  .u-spOnly {
    display: block;
  }
}

.u-pcOnly {
  display: block;
}
@media (width < 769px) {
  .u-pcOnly {
    display: none;
  }
}