@use '../base/init' as *;

// *----------------------------------------
// archive
// ----------------------------------------*/

.archive {
  display: grid;
  grid-template-columns: 264px 1fr;

  @include max(md) {
    grid-template-columns: 1fr;
  }
}

.archive__categories {
  display: flex;
  flex-flow: column wrap;
  row-gap: 20px;
  padding-left: 20px;

  @include max(md) {
    flex-direction: row;
    gap: 15px 40px;
    padding-left: 34px;
  }
}

.archive__categories--sticky {
  position: sticky;
  top: 20px;

  @include max(md) {
    position: static;
  }
}

.archive__category {
  font-size: 14px;
  font-weight: $medium;
  line-height: lh(14, 20);
  color: $cSilverGray;
  cursor: pointer;

  @include max(md) {
    font-size: 12px;
  }

  &.current {
    position: relative;
    color: $cBlack;

    &::before {
      position: absolute;
      top: calc(50% - 0px);
      left: -14px;
      width: 8px;
      height: 8px;
      content: '';
      background-color: $cSecondary;
      transform: translateY(-50%);
    }
  }
}

.archive__main {
  border-left: 1px solid $cLightGray;

  @include max(md) {
    margin-top: 40px;
    border: none;
  }
}

.archive__list {
  padding-left: 60px;

  @include max(md) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.archive__item {
  padding-bottom: 30px;
  border-bottom: 1px solid $cLightGray;

  @include max(md) {
    padding-top: 20px;
    padding-bottom: 20px;

    &:first-child {
      border-top: 1px solid $cLightGray;
    }
  }

  &:not(:first-child) {
    padding-top: 30px;

    @include max(md) {
      padding-top: 20px;
    }
  }
}

.archive .time {
  margin-right: 25px;

  @include max(md) {
    margin-right: 8px;
  }
}

.archive__meta {
  display: inline-flex;
  column-gap: 29px;

  @include max(md) {
    column-gap: 8px;
  }
}

.archive__meta .tag {
  background-color: $cWhite;
}

.archive__meta--gray .tag {
  background-color: $cTagBg;
}

.archive__link {
  display: block;
}

.archive__title {
  margin-top: 26px;
  font-size: 16px;
  font-weight: $medium;
  line-height: lh(16, 23);
  color: $cBlack;

  @include max(md) {
    margin-top: 20px;
    font-size: 14px;
    line-height: lh(14, 28);
  }
}

.archive__btn {
  margin-top: 40px;
  text-align: right;

  @include max(md) {
    margin-top: 45px;
  }
}

// * works
// ----------------------------------------*

.archiveWorks .archive__main {
  @include max(md) {
    margin-top: 38px;
  }
}

.archiveWorks .archive__categories {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  padding-left: 20px;

  @include max(md) {
    grid-template-columns: 1fr 1fr;
    padding-left: 34px;
  }
}

.archiveWorks .archive__item {
  display: flex;
  column-gap: 30px;

  @include max(md) {
    column-gap: 15px;
    border-top: none;
  }
}

.archiveWorks .archive__imgWrap {
  flex-shrink: 0;
  width: 160px;

  @include max(md) {
    width: 130px;
  }

  img {
    object-fit: cover;
    aspect-ratio: 160 / 160;

    @include max(md) {
      aspect-ratio: 130 / 100;
    }
  }
}

.archiveWorks .archive__body {
  display: flex;
  flex-direction: column;
}

.archiveWorks .archive__title {
  margin-top: 30px;
  font-size: 18px;
  line-height: lh(18, 32);

  @include max(md) {
    margin-top: 10px;
    font-size: 14px;
    line-height: lh(14, 28);
  }
}

.archiveWorks .time {
  margin-top: auto;
  font-size: 10px;
  line-height: lh(10, 14);

  @include max(md) {
      display: flex;
      align-items: flex-end;
      min-height: 24px;
    }

}
