@use '../base/init' as *;

// *----------------------------------------
// breadcrumb
// ----------------------------------------*/

.breadcrumbWrap {
  width: min(100%, 1340px);
  padding-inline: 10px;
  margin-inline: auto;
}

.breadcrumb {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  font-family: $thirdFont;

  & .post {
    border-bottom: none;
  }
}

span[property='itemListElement'] {
  font-size: 15px;
  line-height: lh(15, 18);
  color: $cSilverGray;
  text-transform: capitalize;

  @include max(md) {
    font-size: 10px;
    line-height: lh(10, 12);
  }

  .current-item {
    display: inline-block;
    max-width: 11em;
    padding: 0;
    margin-top: -3px;
    overflow: hidden;
    color: $cLightBlack;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
  }
}

.breadcrumb__between {
  display: inline-block;
  width: 20px;
  height: 1px;
  background-color: $cSilverGray;
}
