@use '../base/init' as *;

// *----------------------------------------
// breadcrumb
// ----------------------------------------*/

.breadcrumbWrap {
  width: min(100%, 1340px);
  padding-inline: 10px;
  margin-inline: auto;
}

.breadcrumb {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  font-family: $thirdFont;
}

.breadcrumb__item {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 15px;
  font-weight: $regular;
  color: $cSilverGray;
  text-transform: capitalize;

  @include max(md) {
    font-size: 10px;
  }

  &:last-child {
    color: $cGray;
  }

  &:not(:first-child)::before {
    display: inline-block;
    width: 20px;
    height: 1px;
    content: '';
    background-color: $cGray;
  }
}
