@use '../base/init' as *;

// *----------------------------------------
// button
// ----------------------------------------*/

.btn {
  display: inline-flex;
  align-items: center;
}

// * more
// ----------------------------------------*

.more {
  position: relative;
  gap: 10px;
  font-size: 14px;
  font-weight: $medium;
  line-height: lh(14, 16);
  color: $cSecondary;
  text-transform: uppercase;

  &::before {
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 1px;
    content: '';
    transition: transform 0.3s;
    transform: scale(0, 1);
    transform-origin: left top;
  }

  &:hover::before {
    background: $cSecondary;
    transform: scale(1, 1);
  }
}

.prevArrow {
  &::before {
    width: 5px;
    height: 9px;
    content: '';
    background-image: url('../images/icon/icon_arrow_prev.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform 0.3s;
    transform: translateX(0);
  }

  &:hover::before {
    transform: translateX(-5px);
  }
}

.prevArrow--white {
  &::before {
    background-image: url('../images/icon/icon_arrow_prev_white.svg');
  }
}

.nextArrow {
  &::after {
    width: 5px;
    height: 9px;
    content: '';
    background-image: url('../images/icon/icon_arrow_next.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform 0.3s;
    transform: translateX(0);
  }

  &:hover::after {
    transform: translateX(5px);
  }
}
