@use '../base/init' as *;

// *----------------------------------------
// common
// ----------------------------------------*/

// * 共通パーツ
// ----------------------------------------*

.inner {
  width: min(100%, 1140px);
  padding-block: 120px;
  padding-inline: 20px;
  margin-inline: auto;

  @include max(md) {
    padding-block: 80px;
  }
}

.pageInner {
  width: min(100%, 1140px);
  padding-inline: 20px;
  padding-bottom: 120px;
  margin-inline: auto;

  @include max(md) {
    padding-top: 30px;
    padding-bottom: 80px;
  }
}

.text {
  font-size: 16px;
  font-weight: $regular;
  line-height: lh(16, 38);

  @include max(md) {
    font-size: 14px;
    line-height: lh(14, 32);
  }
}

.time {
  display: inline-block;
  font-size: 12px;
  font-weight: $bold;
  line-height: lh(12, 17);
  color: $cSilverGray;

  @include max(md) {
    font-size: 10px;
  }
}

.tag {
  padding: 4px 18px;
  font-size: 11px;
  font-weight: $medium;
  line-height: lh(11, 16);
  color: $cGray;
  background-color: $cTagBg;

  @include max(md) {
    padding: 5px 15px;
    font-size: 10px;
    line-height: lh(10, 14);
  }
}

.pageTitle {
}

.pageTitle__main {
  display: flex;
  column-gap: 20px;
  align-items: center;
  font-family: $secondFont;
  font-size: 40px;
  line-height: lh(40, 59);
  color: $cBlack;
  text-transform: capitalize;

  @include max(md) {
    column-gap: 10px;
    font-size: 26px;
    line-height: lh(26, 39);
  }

  &::after {
    width: 60px;
    height: 2px;
    content: '';
    background-color: $cBlack;
  }
}

.pageTitle__sub {
  font-size: 16px;
  line-height: lh(16, 23);
  color: $cSecondary;

  @include max(md) {
    font-size: 12px;
    line-height: lh(12, 17);
  }
}

// * heading
// ----------------------------------------*

.heading {
  font-family: $secondFont;
  font-weight: $bold;
  text-transform: capitalize;
}

.heading--primary {
  margin-bottom: 40px;
  font-size: 70px;
  line-height: lh(70, 104);

  @include max(md) {
    margin-bottom: 20px;
    font-size: 38px;
    line-height: lh(38, 56);
  }
}

.heading--secondary {
  display: flex;
  flex-direction: column;
}

.heading--secondary .heading__main {
  // font-size: 100px;
  font-size: clamp(2.75rem, 0.623rem + 9.08vw, 6.25rem);
  line-height: lh(100, 148);

  @include max(md) {
    // font-size: 44px;
    line-height: lh(44, 65);
  }

  @include min(exl) {
    font-size: 6.9444vw;
  }
}

.heading--secondary .heading__sub {
  margin-top: -15px;
  font-size: clamp(0.75rem, 0.446rem + 1.3vw, 1.25rem);
  line-height: lh(20, 29);

  @include max(md) {
    margin-top: -6px;
    line-height: lh(12, 17);
  }

  @include min(exl) {
    margin-top: -1.0417vw;
    font-size: 1.3889vw;
  }
}

// * pageHeading
// ----------------------------------------*

.pageHeading {
  width: calc(100% - 170px);
  aspect-ratio: 1270 / 514;
  margin-top: 236px;
  margin-left: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include max(md) {
    aspect-ratio: 365 / 280;
  }

  @include max(lg) {
    margin-top: 110px;
  }

  @include max(xl) {
    width: calc(100% - 10px);
  }
}

.pageHeading__inner {
  width: clamp(11.875rem, 0.099rem + 50.24vw, 31.25rem);
  padding: 16px 50px 47px;
  background-color: $cWhite;

  @include max(md) {
    padding: 18px 18px 36px;
  }
}

// * logo
// ----------------------------------------*

.logo img {
  width: 258px;

  @include max(lg) {
    width: 114px;
    height: 80px;
  }
}

// * gnav
// ----------------------------------------*

.gnav {
  display: flex;
  align-items: center;

  @include max(lg) {
    visibility: hidden;
  }

  .gnav__list {
    
  }

  &-item {

  }
}

.menu {
  &-itme {

  }
}

.gnav__list {
  display: flex;
  align-items: center;
}

// * spMenu
// ----------------------------------------*

.spMenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  color: $cWhite;
  visibility: visible;
  transition: 0.3s ease;
}

.spMenu__inner {
  z-index: 1;
  display: grid;
  width: 100%;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
}

.SpMenu__Logo {
  a {
    display: inline-block;
  }
}

.spMenu__nav {
  padding-inline: 50px;
  margin-top: 80px;
}

.spMenu__item {
  padding-block: 12px;
  border-top: 1px solid $cPrimary;

  &:last-child {
    border-bottom: 1px solid $cPrimary;
  }
}

.spMenu__link {
  font-size: 14px;
  text-transform: uppercase;
}

.spMenu__sns {
  display: flex;
  column-gap: 20px;
  margin-top: 50px;
}

.spMenu.panelactive {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100vh;

  & ul li {
    opacity: 0;

    @include animation($name: gnavAnime, $delay: 0.2s);
  }
}

.circleBg {
  position: fixed;
  right: -50px;
  bottom: -50px;
  z-index: -1;
  width: 100px;
  height: 100px;
  background: #001135;
  border-radius: 50%;
  transition: all 0.6s;

  /* 丸のスタート位置と形状 */
  transform: scale(0); /* scaleをはじめは0に */
}

.circleBg.circleactive {
  transform: scale(50); /* クラスが付与されたらscaleを拡大 */
}

@keyframes gnavAnime {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// * internalLink
// ----------------------------------------*

.internalLink {
  display: flex;
  column-gap: 120px;
  justify-content: center;

  @include max(md) {
    column-gap: 40px;
    padding-inline: 20px;
  }
}

.internalLink__item {
  display: flex;
  column-gap: 9px;
  align-items: center;

  @include max(md) {
    column-gap: 6px;
  }

  &::after {
    display: inline-block;
    width: 9px;
    height: 5px;
    content: '';
    background-image: url('../images/icon/icon_arrow_down.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  a {
    font-size: 16px;
    color: $cPrimary;

    @include max(md) {
      font-size: 12px;
    }
  }
}

// * page
// ----------------------------------------*

.pageWrap {
  padding-top: 20px;

  @include max(md) {
    padding-top: 10px;
  }
}

.pageWrap--single {
  padding-top: 200px;

  @include max(md) {
    padding-top: 100px;
  }
}

.pageContainer {
  padding-top: 60px;

  @include max(md) {
    padding-top: 30px;
  }
}

.page__message {
  width: min(100%, 880px);
  margin-inline: auto;
}

.page__messageBody {
  margin-top: 100px;

  @include max(md) {
    margin-top: 60px;
  }
}

.page__messageTitle {
  font-size: 40px;
  font-weight: $medium;
  line-height: lh(40, 60);

  @include max(md) {
    font-size: 18px;
    line-height: lh(18, 37);
  }
}

.page__messageText {
  margin-top: 40px;

  @include max(md) {
    margin-top: 30px;
  }
}
