@use '../base/init' as *;

// *----------------------------------------
// footer
// ----------------------------------------*/

.footer {
  color: $cWhite;
  background-color: #001135;
}

.footer__inner {
  width: min(100%, 1220px);
  padding: 63px 40px 64px;
  margin-inline: auto;

  @include max(md) {
    padding-bottom: 30px;
  }
}

.footer .container {
  display: grid;
  grid-template-columns: 1fr 160px;

  @include max(md) {
    grid-template-columns: 1fr;
  }
}

.footer__logoArea {
  @include max(md) {
    order: 2;
  }
}

.footer__right {
  display: flex;
  gap: 46px;
  align-items: center;

  @include max(md) {
    flex-direction: column;
    gap: 50px;
    align-items: flex-start;
  }
}

.footer__logo {
  margin-top: 37px;
}

.footer__sns {
  display: flex;
  column-gap: 20px;
  font-family: $thirdFont;
}

.copyRight {
  margin-top: 20px;
  font-family: $thirdFont;

  @include max(md) {
    margin-top: 50px;
  }

  small {
    font-size: 12px;
  }
}

.footer__nav {
  @include max(md) {
    order: 1;
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  @include max(md) {
    row-gap: 24px;
  }
}

.footer__navLink {
  font-size: 16px;
  line-height: lh(16, 19);
  text-transform: uppercase;

  @include max(md) {
    font-size: 14px;
    line-height: lh(14, 16);
  }
}
