@use '../base/init' as *;

// *----------------------------------------
// header
// ----------------------------------------*/

.header {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 80px;
  background-color: $cWhite;

  @include max(lg) {
    background-color: transparent;
  }
}

.header__inner {
  display: flex;
  justify-content: end;
  height: inherit;
}

.header__logo {
  position: absolute;
  left: 0;
}

.header__nav {
  font-family: $thirdFont;
  font-size: 16px;
  font-weight: $medium;
  line-height: lh(16, 19);
  text-transform: uppercase;

  @include max(lg) {
    visibility: hidden;
  }
}

.header__nav .gnav__list {
  gap: 50px;

  &:last-of-type {
    margin-right: 50px;
  }
}

.header__nav .gnav__btn {
  height: 100%;
  background-color: $cPrimary;
}

.header__nav .gnav__btnLink {
  column-gap: 10px;
  width: 187px;
  height: inherit;
  padding: 20px 41px;
  line-height: lh(16, 19);
  color: $cWhite;
}
