@use '../base/init' as *;

// *----------------------------------------
// pagination
// ----------------------------------------*/

// * プラグイン　wp_pagenavi
// ----------------------------------------*

.paginationWrapper {
  padding-left: 60px;
  margin-top: 56px;

  @include max(md) {
    padding-left: 0;
    margin-top: 40px;
  }
}

.wp-pagenavi {
  display: flex;
  column-gap: 10px;
  align-items: center;

  @include max(md) {
    justify-content: center;
  }

  // < >以外のa,span
  .page,
  .current {
    display: inline-flex;
    place-items: center;
    align-items: center;
    justify-content: center;
    width: 40px;
    aspect-ratio: 1 / 1;
    font-family: $secondFont;
    font-size: 14px;
    font-weight: $medium;
    line-height: lh(14, 21);
    background-color: #e9eeef;
  }

  // 現在のページ番号
  .current {
    color: $cWhite;
    pointer-events: none;
    background-color: $cSecondary;
  }

  .previouspostslink,
  .nextpostslink {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 11px;
    aspect-ratio: 11 / 18;
    visibility: hidden;

    &::before,
    &::after {
      position: absolute;
      top: calc(50% - 0px);
      left: calc(50% - 0px);
      width: 11px;
      aspect-ratio: 11 / 18;
      visibility: visible;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      transform: translate(-50%, -50%);
    }
  }

  .previouspostslink {
    margin-right: 13px;

    &::before {
      content: '';
      background-image: url('../images/icon/icon_nav_arrow_prev.svg');
    }
  }

  .nextpostslink {
    margin-left: 13px;

    &::before {
      content: '';
      background-image: url('../images/icon/icon_nav_arrow_next.svg');
    }
  }
}
